<!-- Right Side Content / End -->
<div class="right-side" style="width: 10%;">
  <!-- Header Widget -->
  <div class="header-widget">
    <%= language_switcher %>
    <!--<a href="login-register.html" class="sign-in"><i class="fas fa-user"></i> Log In / Register</a>-->
    <!--<a href="submit-property.html" class="button border">Submit Property</a>-->
  </div>
  <!-- Header Widget / End -->
</div>
<!-- Right Side Content / End -->
