<% title t("meta.compare_properties_title") %>
<% #meta_description t("meta.index_description") %>
<% meta_robots "noindex, follow" %>

<div class="margin-bottom-30">
  <%= render partial: 'layouts/frontend/titlebar' %>
</div>

<div class="container">
  <%= render partial: 'layouts/frontend/compare_properties/listings',
             locals: {
                        residentials: residentials,
                        commercials: commercials,
                        lands: lands,
                      }
  %>
</div>
