class Parser::<%= class_name %>::Pages::PropertyParser < Parser::Pages::FileType::BasePropertyPage

  def parsed_property(parsed_node)
    raise NotImplementedError
  end

  def identifier_field(parsed_property)
    raise NotImplementedError
  end

  protected

    def property_node?(node)
      raise NotImplementedError
    end

    def parser_class
      Parser::<%= class_name %>::Attributes::PropertyAttributes
    end

    def attribute_parser_map
      raise NotImplementedError
    end
end
