class Parser::<%= class_name %>::Pages::UrlGrabber < Parser::Pages::FileType::UrlsFileParser

  protected

    def matcher_field(property_node)
      raise NotImplementedError
    end

    def parser_class
      Parser::<%= class_name %>::Attributes::PropertyAttributes
    end

    def property_node?(node)
      raise NotImplementedError
    end
end
