<div class="listing-item compact">

  <a href="<%= agencies_path %>" target="_blank" rel="nofollow">
    <div class="listing-img-content">
      <span class="listing-compact-title text-center" style="margin-bottom: 85px; color: #333;">
        <%= "#{t('common.more')} #{agencies_count - FrontendController::COUNTRY_AGENCIES_COUNT}" %>
      </span>

      <!--<ul class="listing-hidden-content">-->
        <!--<li><%#= t('agencies.properties') %> <span><%#= agency.active_and_moderated_properties_count %></span></li>-->
      <!--</ul>-->
    </div>

    <div class="owl-agency-img other-agencies"></div>
    <!--<img src="/images/listing-01.jpg" alt="" style="height: 100%;">-->
    <!--<div style="height: 100%; background-color: lightslategray;"></div>-->
  </a>

</div>
