<div class="col-md-6">
  <!-- Layout Switcher -->
  <div class="layout-switcher filter"
       style="margin-bottom: 13px;"
  >
    <a href="#" class="grid"><i class="fas fa-th-large"></i></a>
    <a href="#" class="list"><i class="fas fa-list"></i></a>
  </div>
</div>
