<!-- Main Search Input -->
<div class="main-search-input margin-bottom-35">
  <input type="text" class="ico-01" placeholder="Enter address e.g. street, city and state or zip" value=""/>
  <button class="button">Search</button>
</div>