<% title @page_title %>

<h3 class="page-title">Новый SEO-шаблон</h3>

<%= render partial: 'admin/seo_templates/form', locals: { template: @template,
                                                    filter_options: @filter_options,
                                                    property_supertypes: @property_supertypes,
                                                    property_type_groups: @property_type_groups,
                                                    property_types: @property_types,
                                                    seo_templates_groups: @seo_templates_groups } %>