<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag(asset_pack_url('frontend_style.css', type: :stylesheet)) %>
  <style>
    div.alwaysbreak {
      page-break-before: always;
    }

    div.nobreak:before {
      clear: both;
    }

    div.nobreak {
      page-break-inside: avoid;
    }
  </style>

  <script>
    // Добавляет текущие страницы по классам .topage, .page
    // https://github.com/mileszs/wicked_pdf#page-numbering
    function number_pages() {
      var vars={};
      var x=document.location.search.substring(1).split('&');
      for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
      var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
      for(var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
      }
    }
  </script>
</head>
<body onload="number_pages()">
  <%= yield %>
</body>
</html>
