<style>
  .source-title {
    float: right;
    margin-top: 0;
  }
</style>
<h3 class="source-title">
  <%= t('pdf.footer.source_title', link: link_to('propimo.com', root_url) ).html_safe %>
</h3>
<h3>
  <%= t('pdf.footer.pages').html_safe %>
</h3>
