<style>
  .logo {
    width: 140px;
  }
  .property-number-title {
    float: right;
    margin-top: 5px;
    margin-right: 13px;
  }
  .pretty-line {
    background-color: rgb(39, 74, 187);
    height: 5px;
    width: 98%;
    margin-left: 13px;
    margin-right: 13px;
  }
  .header-padding {
    padding-bottom: 25px;
  }
</style>

<div>
  <%= wicked_pdf_image_tag asset_path(Webpacker.manifest.lookup!('images/logo.png')),
                           class: 'logo'
  %>

  <h3 class="property-number-title"><%= t('pdf.header.property_number', id: @property.id) %></h3>

  <div class="pretty-line"></div>
</div>
<div class="header-padding"></div>
