<!-- Type -->
<div class="search-type">
  <label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
  <label><input name="tab" type="radio"><%= t(:for_sale, scope: :properties) %></label>
  <label><input name="tab" type="radio"><%= t(:for_rent, scope: :properties) %></label>
  <div class="search-type-arrow"></div>
</div>