<!-- About Author -->
<div class="about-author">
  <img src="images/agent-avatar.jpg" alt="" />
  <div class="about-description">
    <h4>Jennie Wilson</h4>
    <a href="#">jennie@example.com</a>
    <p>Nullam ultricies, velit ut varius molestie, ante metus condimentum nisi, dignissim facilisis turpis ex in libero. Sed porta ante tortor, a pulvinar mi facilisis nec. Proin finibus dolor ac convallis congue.</p>
  </div>
</div>