<!-- Post Navigation -->
<ul id="posts-nav" class="margin-top-0 margin-bottom-40">
  <li class="next-post">
    <a href="#"><span>Next Post</span>
      Tips For Newbie Hitchhiker</a>
  </li>
  <li class="prev-post">
    <a href="#"><span>Previous Post</span>
      What's So Great About Merry?</a>
  </li>
</ul>