<!-- Related Posts -->
<div class="clearfix"></div>
<h4 class="headline margin-top-25">Related Posts</h4>
<div class="row">
  <div class="col-md-6">

    <!-- Blog Post -->
    <div class="blog-post blog-post-hover">

      <!-- Img -->
      <a href="#" class="post-img">
        <img src="images/blog-post-02.jpg" alt="">
      </a>

      <!-- Content -->
      <div class="post-content">
        <h3><a href="#">Bedroom Colors You'll Never Regret</a></h3>
        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae. </p>

        <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
      </div>

    </div>
    <!-- Blog Post / End -->

  </div>

  <div class="col-md-6">

    <!-- Blog Post -->
    <div class="blog-post blog-post-hover">

      <!-- Img -->
      <a href="#" class="post-img">
        <img src="images/blog-post-03.jpg" alt="">
      </a>

      <!-- Content -->
      <div class="post-content">
        <h3><a href="#">What to Do a Year Before Buying Apartment</a></h3>
        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae. </p>

        <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
      </div>

    </div>
    <!-- Blog Post / End -->

  </div>
</div>
<!-- Related Posts / End -->