<!-- Share Buttons -->
<ul class="share-buttons margin-top-40 margin-bottom-0">
  <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
  <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
  <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
  <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li>
</ul>

<div class="clearfix"></div>