.no-comments-label {
  display: none;
  text-align: center;
}

.comments-form {
  border-top: 1px solid #e5e5e5;
  padding-top: 15px;
}

.comments-loader {
  text-align: center;
  margin-bottom: 15px;
}

.comments-table {
  display: none;
}
