<!-- Counters Container -->
<div class="parallax margin-top-0 margin-bottom-40"
     data-background="/images/listings-parallax.jpg"
     data-color="#252529"
     data-color-opacity="0.85"
     data-img-width="800"
     data-img-height="505">

  <!-- Counters -->
  <div id="counters">
    <div class="container">

      <div class="row">

        <div class="counter-boxes-inside-parallax">

          <div class="col-md-3 col-sm-6">
            <div class="counter-box">
              <div class="counter-box-icon">
                <i class="im im-icon-Home-2"></i>
                <span class="counter">942</span>
                <p>Listings For Sale</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="counter-box">
              <div class="counter-box-icon">
                <i class="im im-icon-Money-2"></i>
                <span class="counter">1476</span>
                <p>Listings For Rent</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="counter-box">
              <div class="counter-box-icon">
                <i class="im im-icon-Business-ManWoman"></i>
                <span class="counter">389</span>
                <p>Agents</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="counter-box last">
              <div class="counter-box-icon">
                <i class="im im-icon-Suitcase"></i>
                <span class="counter">163</span>
                <p>Brokers</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <!-- Counters / End -->

  <!-- Flip banner -->
  <a href="listings-half-map-grid-standard.html" class="flip-banner parallax" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
    <div class="flip-banner-content">
      <h2 class="flip-visible">We help people and homes find each other</h2>
      <h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
    </div>
  </a>
  <!-- Flip banner / End -->

</div>
<!-- Counters Container / End -->
