<!-- Content
================================================== -->
<!-- Fullwidth Section -->
<section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

  <!-- Content -->
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <!-- Icon Box -->
        <div class="icon-box-1 alternative">

          <div class="icon-container">
            <i class="im im-icon-Checked-User"></i>
          </div>

          <h3>Agent Finder</h3>
          <p>See who specializes in your area, has the most reviews and the right experience to meet your needs.</p>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Icon Box -->
        <div class="icon-box-1 alternative">

          <div class="icon-container">
            <i class="im im-icon-Cloud-Computer"></i>
          </div>

          <h3>Modern Technology</h3>
          <p>More than 10,000 customers buy or sell a home with us each year. We help people and homes find each together.</p>
        </div>
      </div>

      <div class="col-md-4">
        <!-- Icon Box -->
        <div class="icon-box-1 alternative">

          <div class="icon-container">
            <i class="im im-icon-Idea"></i>
          </div>

          <h3>Home Designs Ideas</h3>
          <p>Our specialists can help you get started on that home project. Find paint colors, that perfect tile and more. </p>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- Fullwidth Section / End -->
