<!-- Agents Section -->
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3 class="headline margin-top-20 margin-bottom-45">Our Agents</h3>
    </div>
  </div>

  <div class="row">
    <!-- Agents Container -->
    <div class="agents-grid-container">

      <!-- Agent -->
      <%= render partial: 'layouts/frontend/agents/agent' %>
      <!-- Agent / End -->

      <!-- Agent -->
      <%= render partial: 'layouts/frontend/agents/agent' %>
      <!-- Agent / End -->

      <!-- Agent -->
      <%= render partial: 'layouts/frontend/agents/agent' %>
      <!-- Agent / End -->

      <!-- Agent -->
      <%= render partial: 'layouts/frontend/agents/agent' %>
      <!-- Agent / End -->

    </div>
    <!-- Agents Container / End -->
  </div>

</div>
<!-- Agents Section / End -->
