<!-- Content
================================================== -->
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h3 class="headline centered margin-bottom-25 margin-top-65"><%= title %></h3>
    </div>

    <!-- Carousel -->
    <div class="col-md-12">
      <div class="carousel property-main-carousel">

        <% properties.each do |property| %>
          <div class="carousel-item">
            <%= render partial: 'layouts/frontend/common/listing_item', locals: { property: property } %>
          </div>
        <% end %>

      </div>
    </div>
    <!-- Carousel / End -->

  </div>
</div>