<!-- Footer
================================================== -->
<div id="footer" class="dark">
  <!-- Main -->
  <div class="container">
    <div class="row">

      <%= render partial: 'layouts/frontend/footer/left_side' %>

      <%= render partial: 'layouts/frontend/footer/middle_side' %>

      <%= render partial: 'layouts/frontend/footer/right_side' %>

    </div>

    <!-- Copyright -->
    <div class="row">
      <div class="col-md-12">
        <div class="copyrights">© <%= Date.today.year %> Propimo. All Rights Reserved.</div>
      </div>
    </div>

  </div>

</div>
<!-- Footer / End -->