<!-- Header Container
================================================== -->
<header id="header-container">

  <%#= render partial: 'layouts/frontend/header/topbar' %>

  <%= render partial: 'layouts/frontend/header/header' %>

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->