<section class="fullwidth border-top margin-top-55 margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="#ffffff">
  <!-- Logo Carousel -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-40 margin-top-10">Companies We've Worked With <span>We can assist you with your innovation or commercialisation journey!</span></h3>
      </div>

      <!-- Carousel -->
      <div class="col-md-12">
        <div class="logo-carousel dot-navigation">

          <div class="item">
            <img src="/images/logo-01.png" alt="">
          </div>

          <div class="item">
            <img src="/images/logo-02.png" alt="">
          </div>

          <div class="item">
            <img src="/images/logo-03.png" alt="">
          </div>

          <div class="item">
            <img src="/images/logo-04.png" alt="">
          </div>

          <div class="item">
            <img src="/images/logo-05.png" alt="">
          </div>

          <div class="item">
            <img src="/images/logo-06.png" alt="">
          </div>

          <div class="item">
            <img src="/images/logo-07.png" alt="">
          </div>


        </div>
      </div>
      <!-- Carousel / End -->

    </div>
  </div>
  <!-- Logo Carousel / End -->
</section>