<!-- Fullwidth Section -->
<section class="fullwidth margin-top-105 margin-bottom-0 padding-bottom-80 padding-top-95" data-background-color="#f7f7f7">

  <!-- Box Headline -->
  <h3 class="headline-box">What Our Clients Say</h3>

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="testimonials-subtitle">We collect reviews from our customers so you can get an honest opinion of what an apartment is really like!</div>
      </div>

      <div class="col-md-4">
        <div class="testimonial-box">
          <div class="testimonial">Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim. Donec vel lectus vel felis lacinia luctus vitae iaculis arcu. Mauris mattis, massa eu porta ultricies.</div>
          <div class="testimonial-author">
            <img src="/images/happy-client-01.jpg" alt="">
            <h4>Jennie Wilson <span>Rented Apartment</span></h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="testimonial-box">
          <div class="testimonial">Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim. Donec vel lectus vel felis lacinia luctus vitae iaculis arcu. Mauris mattis, massa eu porta ultricies.</div>
          <div class="testimonial-author">
            <img src="/images/happy-client-02.jpg" alt="">
            <h4>Thomas Smith <span>Bought House</span></h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="testimonial-box">
          <div class="testimonial">Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim. Donec vel lectus vel felis lacinia luctus vitae iaculis arcu. Mauris mattis, massa eu porta ultricies.</div>
          <div class="testimonial-author">
            <img src="/images/happy-client-03.jpg" alt="">
            <h4>Robert Lindstrom <span>Sold Apartment</span></h4>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- Fullwidth Section / End -->
