<!-- Titlebar
================================================== -->
<div class="parallax titlebar"
     data-color="#274abb"
     data-color-opacity="0.9">

  <div id="titlebar" style="padding: 5px 0 5px 0; margin-bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <%= render_breadcrumbs builder: ::PropimoBreadcrumbsBuilder %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
