<!-- Header -->
<div id="header" style="padding: 18px 0 7px 0;">
  <div class="container">

    <%= render partial: 'layouts/frontend/header/header/left_side' %>

    <%= render partial: 'layouts/frontend/header/header/right_side' %>

  </div>
</div>
<!-- Header / End -->