<!-- EnergyEfficiency -->
<h3 class="desc-headline" id="energy_efficiency"><%= t(:energy_efficiency, scope: :common) %></h3>
<!-- Img -->
<img src="<%= asset_pack_path(get_energy_efficiency_pic(property.energy_efficiency_type)) %>" alt="" class="img_cover">