<!-- Location -->
<h3 class="desc-headline" id="location"><%= t(:location, scope: :common) %></h3>
<div id="propertyMap-container">
  <div id="propertyMap" data-latitude="<%= property.latitude %>" data-longitude="<%= property.longitude %>"></div>
  <a href="#" id="streetView"><%= t(:street_view, scope: :common) %></a>
</div>