<!-- Similar Listings Container -->
<h3 class="desc-headline margin-bottom-35 margin-top-60"><%= t('properties.similar') %></h3>

<!-- Layout Switcher -->

<div class="layout-switcher hidden"><a href="#" class="list"><i class="fas fa-list"></i></a></div>

<%= render partial: 'layouts/frontend/common/listings', locals: { properties: properties } %>

<!-- Similar Listings Container / End -->