<div class="col-md-5 col-sm-6">
  <img class="footer-logo margin-top-3" src="<%= asset_pack_path("images/logo2.png") %>" alt="">
  <br><br>
  <!--<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>-->
</div>
