<div class="col-md-4 col-sm-6 ">
  <h4><%= t(:links_title, scope: :footer) %></h4>
  <ul class="footer-links">
    <li><%= link_to(t('footer.partnership'), agency_bid_form_path(I18n.locale)) %></li>
    <li><a href="<%= new_user_session_path %>" rel="nofollow"><%= t(:login, scope: :footer) %></a></li>
    <!--<li><a href="#">Sign Up</a></li>-->
    <!--<li><a href="#">My Account</a></li>-->
    <!--<li><a href="#">Add Property</a></li>-->
    <!--<li><a href="#">Pricing</a></li>-->
    <!--<li><a href="#">Privacy Policy</a></li>-->
  </ul>

  <ul class="footer-links">
    <!--<li><a href="#">FAQ</a></li>-->
    <!--<li><a href="#">Blog</a></li>-->
    <!--<li><a href="#">Our Agents</a></li>-->
    <!--<li><a href="#">How It Works</a></li>-->
    <!--<li><a href="#">Contact</a></li>-->
  </ul>
  <div class="clearfix"></div>
</div>
