<div class="col-md-3  col-sm-12">
  <h4><%= t(:contact_us, scope: :footer) %></h4>
  <div class="text-widget">
    <span><%= t("company", locale: :en) %></span> <br>
    <span><%= t("company_address", locale: :en) %></span> <br>
    <% if t("inn", locale: :en).present? %>
      <span><%= t("inn", locale: :en) %></span> <br>
    <% end %>
    <!--Phone: <span>(123) 123-456 </span><br>-->
    E-Mail:<span> <a href="#">support@propimo.com</a> </span><br>
  </div>

  <!--
  <ul class="social-icons margin-top-20">
    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
    <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
  </ul>
  -->
</div>