<!-- Widget -->
<div class="widget">
  <h3>Got any questions?</h3>
  <div class="info-box margin-bottom-10">
    <p>If you are having any questions, please feel free to ask.</p>
    <a href="contact.html" class="button fullwidth margin-top-20"><i class="fa fa-envelope-o"></i> Drop Us a Line</a>
  </div>
</div>
<!-- Widget / End -->