<!-- Widget -->
<div class="widget">
  <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
  <div class="search-blog-input">
    <div class="input"><input class="search-field" type="text" placeholder="Type and hit enter" value=""/></div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- Widget / End -->