<!-- Widget -->
<div class="widget">
  <h3 class="margin-top-0 margin-bottom-25">Social</h3>
  <ul class="social-icons rounded">
    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
    <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
  </ul>

</div>
<!-- Widget / End-->