<img id="map_load" src="<%= asset_pack_path("images/loader.gif") %>"  style="display: none;">
<div id="map">
  <!-- map goes here -->
</div>

<!-- Map Navigation -->
<a href="#"
   id="scrollEnabling"
   title="Enable or disable scrolling on map"
   class="margin-top-10 margin-left-10"
   style="display: none;"
>
  Enable Scrolling
</a>
<ul id="mapnav-buttons">
  <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
  <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
</ul>
